.form {
  display: flex;
  gap: 0.5rem;
}

.form-input {
  background-color: #1115;
  width: 100%;
  color: #eee;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.button {
  background-color: #98233a;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: small;
}

.button:hover,
.button:focus {
  background-color: #c02644;
}

.button:focus,
.form-input:focus {
  outline: 2px solid #fff;
}

.form-input::placeholder {
  color: #aaa;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 500px;
  overflow-y: auto;
  background-color: #1113;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #ffaaff0c;
  color: #ccc;
}

.test {
  display: block;

  .nested {
    display: none;
  }
}