.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: opacity 250ms ease-in-out;
  backdrop-filter: blur(1px);
}

.modal-content,
.drawer-content,
.preview-content {
  position: absolute;
  z-index: 1000;
  max-width: 100%;
  max-height: 100%;
  transition: transform 150ms ease-in-out;
  background-color: var(--color-dark);
}


.modal-content {
  top: 50%;
  left: 50%;
  width: 500px;
  border-radius: 5px;
  overflow-y: auto;
}

.drawer-content {
  overflow-y: auto;
}

.drawer-content[data-side="left"],
.drawer-content[data-side="right"] {
  width: 300px;
  max-width: calc(100% - 60px);
  height: 100%;
}

.drawer-content[data-side="left"] {
  top: 0;
  left: 0;
}

.drawer-content[data-side="right"] {
  height: 100%;
  top: 0;
  right: 0;
}

.drawer-content[data-side="bottom"] {
  bottom: 0;
  left: 0;
  right: 0;
}

.preview-content {
  width: 400px;
  max-width: calc(100% - 20px);
  background: #fff;
  top: 0;
  left: 0;
  border-radius: 5px;
  padding: 2px;
  border: 2px solid black;
}

.preview-content pre {
  border-radius: 3px;
}

.preview-content pre.shiki {
  background: #0a0a0a !important;
}