/* This CSS is common to all pages */

@import url("utils.css");
@import url("dialog.css");
@import url("scrollbars.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.text-spicy {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.text-shadow {
  text-shadow: 1px 1px 3px #0007;
}


:root {
  --color-light: #fffbfb;
  --color-dark: #151313;
  color-scheme: dark;
  background-color: var(--color-dark);
  color: #fffafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --content-width: 1080px;
  --navbar-height: 60px;
  --navbar-height-negative: -60px;
  scroll-behavior: smooth;
  --tw-border-opacity: 1;
  scroll-padding: 100px;
}


*,
::before,
::after {
  border-color: rgb(54 52 52 / var(--tw-border-opacity));
}

::placeholder {
  color: #777171 !important
}

:focus-visible {
  outline: 2px solid crimson;
  border-radius: 3px;
}

::selection {
  background: #dc143ccc;
  color: #fff;
}

body {
  margin: 0;
}

.prose {
  color: (var(--color-dark))
}

a {
  text-decoration: none;
}

.prose a {
  color: #ea495e !important
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.docs-section-header a {
  color: #fff !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.docs-section {
  position: relative
}

.docs-section:after {
  content: '';
  pointer-events: none;
  background-color: #fff;
  position: absolute;
  opacity: 0;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  transform: none;
  /* height: 100%;
  width: 100%; */
  transition: opacity .3s ease-out;
  border-radius: 5px;
}

.docs-section.highlight:after {
  opacity: .066
}