/* This CSS is common to all pages */

@import url("utils.css");
@import url("dialog.css");
@import url("scrollbars.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.text-spicy {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.text-shadow {
  text-shadow: 1px 1px 3px #0007;
}


:root {
  --color-light: #fffbfb;
  --color-dark: #151313;
  color-scheme: light dark;
  background-color: var(--color-light);
  color: #231313;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --content-width: 1080px;
  --navbar-height: 60px;
  --navbar-height-negative: -60px;
  scroll-padding: 100px;
  scroll-behavior: smooth;
  --tw-border-opacity: 1;
}


*,
::before,
::after {
  border-color: rgb(235 231 229 / var(--tw-border-opacity));
}

::placeholder {
  color: #363434
}


@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-dark);
    color: #fffafa;
  }

  ::placeholder {
    color: #777171 !important
  }

  *,
  ::before,
  ::after {
    border-color: rgb(54 52 52 / var(--tw-border-opacity));
  }
}

::selection {
  background: #dc143ccc;
  color: #fff;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}