/* This CSS is common to all pages */

@import url("utils.css");
@import url("dialog.css");
@import url("scrollbars.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-container {
  @apply border border-white border-opacity-5 bg-white bg-opacity-5 shadow-lg backdrop-blur-md;
}

* {
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 1px 1px 3px #0007;
}


:root {
  --color-light: #fffbfb;
  --color-dark: #151313;
  color-scheme: dark;
  background-color: var(--color-dark);
  color: #fffafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --content-width: 1080px;
  --navbar-height: 60px;
  --navbar-height-negative: -60px;
  --tw-border-opacity: 1;
  scroll-padding: 100px;
  scrollbar-gutter: stable;
}

::placeholder {
  color: #777171 !important
}

:focus-visible {
  outline: 2px solid crimson;
  border-radius: 3px;
}

::selection {
  background: #dc143ccc;
  color: #fff;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.prose a:not(.text-light) {
  color: #ea495e !important
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

@media screen and (max-width: 480px) {
  .prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-size: 1.75rem;
  }
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):not(:has(span)) {
  background-color: #0e0e0ea3;
  border-radius: .25rem;
  padding: .25rem .5rem;
}


.callout-block code {
  background-color: #0e0e0e63;
  border-radius: .25rem;
  padding: .125rem .25rem;
  font-size: 87.5%;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):before,
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):after {
  content: none;
}

.prose :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
  color: #bbb;
}

.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  border-color: #fffc;
  border-width: 2px;
  opacity: .5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.docs-section-header a {
  color: #fff !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

@media screen and (min-width: 480px) {
  .docs-section-header a {
    font-size: 1.5em;
  }
}

.docs-section {
  position: relative;
  margin-bottom: 3rem;
}

.docs-section:after {
  content: '';
  pointer-events: none;
  background-color: #fff;
  position: absolute;
  opacity: 0;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  transform: none;
  /* height: 100%;
  width: 100%; */
  transition: opacity .3s ease-out;
  border-radius: 5px;
}

.docs-section.highlight:after {
  opacity: .066
}

pre.shiki {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.7142857;
  border-radius: .35rem;
  background-color: #0006 !important;
}

pre.shiki>code {
  background-color: unset;
}

/** strings */
pre.shiki span[style="color:#9ECBFF;"],
pre.shiki span[style="color: rgb(158, 203, 255);"] {
  color: #fde3e3 !important;
}

/** variables/literals */
pre.shiki span[style="color:#79B8FF;"],
pre.shiki span[style="color: rgb(121, 184, 255);"] {
  color: #f0a05e !important;
}

/** XML element tags */
pre.shiki span[style="color:#85E89D;"],
pre.shiki span[style="color: rgb(133, 232, 157);"] {
  color: #e8585c !important;
}

/** comments: */
pre.shiki span[style="color:#6A737D;"],
pre.shiki span[style="color: rgb(106, 115, 125);"] {
  color: #939192 !important;
}


pre.shiki span.line.diff.remove {
  background-color: #512525;
}

pre.shiki span.line.diff.remove:before {
  content: "-";
  line-height: 1.25rem;
  position: absolute;
  margin-left: 10px;
  color: red;
}

pre.shiki span.line.diff.add {
  background-color: #174327;
}

pre.shiki span.line.diff.add:before {
  content: "+";
  line-height: 1.25rem;
  position: absolute;
  margin-left: 10px;
  color: #1fc31f;
}

.not-prose pre.shiki {
  border-radius: 0 0 .35rem .35rem;
}

@media screen and (min-width: 768px) {
  pre.shiki {
    font-size: 0.775rem;
  }
}

@media screen and (min-width: 1024px) {
  pre.shiki {
    font-size: 0.85rem;
  }
}

.not-prose pre.shiki {
  overflow-x: auto;
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
}