.text-muted {
  color: #777;
}

@media (prefers-color-scheme: dark) {
  .text-muted {
    color: #ccc;
  }
}

.reset {
  all: revert;
}

button.reset {
  padding: .125rem .5rem
}

.link-ext {
  white-space: nowrap;
}

.link-ext svg {
  display: inline;
  vertical-align: baseline;
  margin-left: 2px;
}

.prose a {
  color: #ea495e !important
}

.badge {
  background-color: #dc143ccc;
  border-radius: .25rem;
  color: var(--color-light);
  padding: 4px 4px;
  text-transform: uppercase;
  font-size: xx-small;
  line-height: 1;
}

.link-button {
  padding: .5rem 1rem;
  background: var(--color-light);
  color: #222;
  font-weight: 500;
  border-radius: .25rem;
}

.preview-button {
  text-decoration: underline;
  color: #ea495e !important;
  font-weight: 500;
}