#hero-background {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
  filter: blur(180px);
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}