.tab-group {
  --active: #b42641;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;


    li {
      font-size: .85rem;
      background-color: #333;
      border-color: #222 !important;
      border: 1px solid;
      border-bottom: 0;
      border-radius: .35rem .35rem 0 0;

      &.active {
        background-color: var(--active);
        color: #fff;
        border-color: #952d41;
      }

      button {
        padding: .25rem 1rem;
      }
    }
  }
}